<nav class="navbar navbar-expand navbar-dark bg-primary fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand text-white">
        <img src="\assets\birb2.png" class="d-inline-block align-top icon-height">
        Twitter Sentiment Filter
      </a>
    </div>
    <div class="navbar-brand">
      <a href="https://github.com/berkerbugur/ds-content-filter"
         target="_blank">
        <img class="icon-height" src="\assets\github.png">
      </a>
    </div>
  </div>
</nav>
