<a
  class="list-group-item clearfix"
  [routerLink]="[index]"
  routerLinkActive="active"
  style="margin: 5px; cursor: pointer;">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ tweet.userName }}</h4>
    <p class="list-group-item-text">{{ tweet.tweetText }}</p>

  </div>
  <span class="pull-right">
        <img
          [src]="tweet.profilePic"
          alt="{{ tweet.screenName }}"
          class="img-responsive"
          style="max-height: 50px;">
      </span>
</a>
