<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Recipe Book</a>
    </div>
    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a class="link-border" routerLink="/recipes" *ngIf="auth.isAuth()">Recipes</a></li>
        <li routerLinkActive="active"><a class="link-border" routerLink="/shopping-list" *ngIf="auth.isAuth()">Shopping List</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <ng-template [ngIf]="!auth.isAuth()">
          <li><a routerLink="/signUp">Sign Up!</a></li>
          <li><a routerLink="/signIn">Sign In</a></li>
        </ng-template>
        <li><a style="cursor: pointer" (click)="auth.onLogOut()" *ngIf="auth.isAuth()">Log Out</a></li>

        <li class="dropdown" appDropdown *ngIf="auth.isAuth()">
          <a style="cursor: pointer" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer" (click)="onSave()">Save To DataBase</a></li>
            <li><a style="cursor: pointer" (click)="onFetch()">Fetch From DataBase</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
