<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form class="signForm" (ngSubmit)="onSignIn(siForm)" #siForm="ngForm">
      <div class="form-group">
        <label for="mail" class="text-d">Mail</label>
        <input type="email" id="mail" name="email" class="form-control" ngModel>
      </div>
      <div class="form-group">
        <label for="pass" class="text-d">Password</label>
        <input type="password" id="pass" name="password" class="form-control" ngModel>
      </div>
      <button class="btn btn-primary centerize" type="submit">Login</button>
    </form>
  </div>
</div>
