<div class="row">
  <div class="col-xs-12 rcp-image">
      <img [src]="recipe.imagePath" alt="{{recipe.name}}" class="img-responsive" style="max-height: 200px; border-radius: 5px;">
   </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group"
    appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle"
        *ngIf="auth.isAuth()">
          Manage Recipe<span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="toAddShopping()" style="cursor: pointer">Add To Shopping List</a></li>
        <li><a style="cursor: pointer" routerLink="edit">Edit Recipe</a></li>
        <li><a style="cursor: pointer" (click)="onDelete()">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12" style="margin: 5px">
    {{recipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li  id="ingredients" class="list-group-item"
      *ngFor="let ingredient of recipe.ingredients"
      style="margin: 2px"> {{ ingredient.name }} - {{ ingredient.amount }}</li>
  </ul>
</div>
</div>
